  <main>
    <header>
      <h1 [style.font-size.px]="tailleH1">Julien Bouchoux</h1>
      <h2 [style]="styleH2()">Développeur C# junior, PhD, PharmD</h2>
    </header>
    <app-bloc [titre]="'Compétences'" [elements]="[analyse, protocole]" [competence]="true"></app-bloc>
    <app-bloc [titre]="'Informatique'" [elements]="[csharp, html, js, mssql, mongo]" [competence]="true"></app-bloc>
    <app-bloc [titre]="'Expériences professionnelles'" [elements]="[developpeur, wemaster, pharmacien, doctorant]" [competence]="false"></app-bloc>
    <app-bloc [titre]="'Diplômes et formations'" [elements]="[dawan, doranco, doctorat]" [competence]="false"></app-bloc>
  </main>
  <aside [style.transform]="rotation()">
    <app-annexe [renseignements]="tousLesRenseignements"></app-annexe>
    <app-telechargement></app-telechargement>
  </aside>
  <div id="menuCouleurs" [style]="styleMenu()">
    <app-pigment *ngFor="let couleur of couleurs" [couleur]="couleur"></app-pigment>
  </div>